:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
	--basic-grey: #eeeeee;
	--light-grey: #f2f2f2;
	--basic-dark-grey: #333333;
	--deep-grey: #666666;
	--basic-blue: #81b3d2;
	--dark-blue: #669ec0;
	--bright-blue: #5496bd;
	--basic-brown: #766357;
	--dark-brown: #604e43;
	--bright-brown: #503e33;
	--special-white: rgba(255, 255, 255, 0.3);
	--special-black: rgba(0, 0, 0, 0.3);
}

body {
	min-width: 1280px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: var(--basic-white);
	color: var(--basic-black);
	background-image: url(img/background-photo.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.site-navigation-link {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.site-navigation-link.current {
	color: var(--basic-brown);
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a:focus {
	background-color: var(--basic-grey);
}

.site-navigation a:hover {
	color: var(--basic-blue);
}

.site-navigation a:active {
	color: var(--special-black);
	mix-blend-mode: normal;
}

.introduction {
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.advantages {
	text-align: center;
}

.advantages-description {
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-dark-grey);
	text-align: center;
}

.advantages-list h2,
.advantages-sublist h3 {
	font-size: 21px;
	line-height: 21px;
}

.advantages-list > li:first-child {
	color: var(--basic-white);
	background-color: var(--basic-blue);
	font-size: 14px;
	line-height: 21px;
}

.advantages-list > li:nth-child(2) {
	color: var(--basic-white);
	background-color: var(--basic-blue);
	font-size: 14px;
	line-height: 21px;
}

.advantages-sublist {
	background-color: var(--basic-white);
	color: var(--basic-black);
}

li.selected p {
	color: var(--basic-dark-grey);
	font-size: 14px;
	line-height: 21px;
}

.grey-background {
	background-color: var(--basic-grey);
}

.search-form {
	text-align: center;
}

.search-form h2 {
	font-weight: bold;
	font-size: 30px;
	line-height: 24px;
}

.search-start {
	font-size: 14px;
	line-height: 24px;
	color: var(--basic-dark-grey);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.contact-us a {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-black);
}

.social-icons {
	background-color: var(--basic-blue);
}

.website {
	color: var(--basic-black);
	font-size: 14px;
	line-height: 26px;
	width: 115px;
	height: 41px;
}

.item {
	color: var(--basic-black);
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.item:hover {
	color: var(--basic-blue);
}

.item:active {
	color: var(--special-black);
}

.rate {
	display: inline-block;
	padding: 5px 15px;
	color: var(--deep-grey);
	background-color: var(--light-grey);
}

.items-type:not(h2):not(a) {
	color: var(--basic-dark-grey);
}

.main-services,
.main-accommodation {
	background-color: var(--basic-dark-grey);
}

.type-infrastructure,
.type-title {
	color: var(--basic-white);
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

.item-choice {
	color: var(--basic-white);
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}

.button {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: var(--basic-white);
}

.button-details {
	background-color: var(--basic-blue);
}

.button-book {
	background-color: var(--basic-brown);
}

.button-details:hover {
	background-color: var(--dark-blue);
}

.button-details:active {
	background-color: var(--bright-blue);
	color: var(--special-white);
}

.button-book:hover {
	background-color: var(--dark-brown);
}

.button-book:active {
	background-color: var(--bright-brown);
	color: var(--special-white);
}
